.Rsidebar {
    display: flex;
    flex-direction: column;
    height: 50rem;
    width: 21%;
    margin-left: 1040px;
    margin-top: -1380px;
}

.contacts {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.contacts>p {
    padding-top: 10px;
    color: rgb(110, 112, 114);
    font-weight: 500;
    font-size: 1.1rem;
}

.contactsicons {
    display: flex;
    flex-direction: row;
}

.friend {
    cursor: pointer;
    margin: 14px -20px;
}

.friend:hover {
    background-color: rgba(110, 112, 114, 0.281);

}