.StorySection {
    display: flex;
    width: 500px;
    margin: 20px 0;
    color: white;
    font-size: 1.5rem;
    height: 20rem;
    justify-content: flex-start;
    padding-left: 5%;
    flex-direction: column;
    background-color: rgb(255, 255, 255);
    border-radius: 2%;
    margin-left: 20px;
}

.top .icon {
    display: flex;
    margin-bottom: 15px;
    margin-right: 80px;
    width: 250px;
}

.top {
    display: flex;
    justify-content: center;
    padding-left: 80px;

}

.icon>p {
    color: black;
}

.top .icon:hover {
    cursor: pointer;
    background-color: #ccc;
    border: 1px solid #ccc;
    border-radius: 12px;
    width: 250px;

}

.stories {
    display: flex;
    margin-left: -40px;
}

.more {
    width: 50px;
    height: 50px;
    background-color: rgba(255, 255, 255, 0.397);
    border-radius: 50%;
    margin-left: 420px;
    margin-top: -120px;
    text-align: center;

}

.more:hover {
    cursor: pointer;

}